<!DOCTYPE html>
<html lang="en" ng-app="nHue">
    <head>
        <meta charset="UTF-8">
        <title>nHue</title>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="styles/nStyle.css">

    </head>
    <body ng-controller="HueBRController">
        <div class="fill"></div>
        <div class="col-md-4">
            <div class="sidebar">
                <div id="title" class="thin">
                    <img src="images/hue.png" alt="HUEHUEHUEHUEHUEHUE BRBR" id="logo">
                    <h1>nHue!</h1>
                    <p class="thin">Replace all images  on pages to images which you choose</p>
                    <hr />
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="jumbotron">
                <h2>Options</h2>
                {{ customImages }}
                <hr />
            </div>
            <div style="padding-left:20px;">
                <div class="radio">
                    <label>
                        <input type="radio" name="rdlType" checked="checked" ng-model="customImages" value="Default" >Default HUEs</input>
                    </label>
                </div>
                <div class="containerImages" ng-show="customImages == 'Default'">
                    <div class="row">
                        <div class="col-xs-6 col-md-3" ng-repeat="image in DefaultImages">
                            <a class="thumbnail" href="#">
                                <img ng-src="{{ image }}" alt="" class="thumb" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="radio">
                    <label >
                        <input type="radio" ng-model="customImages" name="rdlType" value="Custom">Custom Images</input>
                    </label>
                </div>
                <div class="containerImages" ng-show="customImages == 'Custom'">
                    <table class="table">
                        <tr>
                            <td>
                                <span>URL</span>
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <button class="btn btn-primary">Add</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="src/app.js"></script>
    <script src="src/controller.js"></script>
</html>
