@charset "UTF-8";

body {
    height:100%;
    background-color: whitesmoke;
}

.Topline {
    background: green;
    height:5px;
    width:100%;
    position:fixed;
    z-index:10;
}

#header{
    padding:80px;
    padding-bottom:110px;
}
#header > h1{
    font-size: 52px;
}

#logo {
    width:120px;
    border-radius: 150px;
    -webkit-transition: all .2s;
    transition: all .2s;
}

#logo:hover{
    width: 130px;
}

#wrap{
    background:white;
    padding-left:20px;
    padding-right:20px;
    margin-top:0px;
    border-top:2px solid green;
}

#title{
    padding-top:40px;
    text-align:center;
    color:white;
    cursor:pointer;
}

.navbar-brand{
    font-size:52px;
}

.thin {
    font-weight:300;
}
.col-md-4, .col-md-8 {
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar {
    position:fixed;
    background: #303030;
    height: 100%;
    width: inherit;
}

.animation{
    left:-33%;
    -webkit-animation: slide 1s forwards;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@media (max-width: 992px){
    
    .sidebar {
        height:300px;
        width:100%;
        position:relative;
    }
}

.thumb{
    max-height:170px;
    /* max-width:180px; */
}

.containerImages{
    margin-right:15px;
    margin-top: 10px;
    overflow: hidden;
    max-height: 3000px;
}

.containerImages{
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
}

.containerImages.ng-hide {
    opacity:0;
    max-height: 0px;
    overflow:hidden;
}

.alert-off{
    display:none;
}

